.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
};

.socials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
    list-style: none;
};
.address{
    padding: 15px;
};

.icon {
    transform: scale(1);
}

.icon:hover img {
    transform: scale(1.5);
};

.text {
    text-transform: uppercase;
    color: #fff;
};

.contacts {
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
};

.contacts:not(:last-child){
    padding-right: 20px;
}

.contacts:hover{
    color: red;
    transform: scale(1.05);
};